
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>RaspberryPi WebController</title>
    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Stylesheets -->
    <style type="text/css">
		.injected-text {
		  margin-top: 50px;
		  text-align: center;
		}
		#laser{
			background-color: #eeeeee;
			padding:10px;
		}
		#comms{
			padding:10px;
		}
		
    </style>
    
  </head>


<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">


<!-- navigation Bar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="#">RaspberryPi Web Controller</a>
    </div>
    
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#comms">Connection Status</a></li>
        <li><a href="#laser">Laser</a></li>
        <li><a href="#">PIR</a></li>
      
      </ul>
    
    </div>
  </div>
</nav>

<!---
Secciones 
-->
    <!-- Intro Section -->
    <section id="comms" class="intro-section injected-text">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Connection Status</h1>
                    <p>RaspberryPi serial port status needed to send commands to Arduino Leonardo</p>
                    <a class="btn btn-default page-scroll" href="/connect/"> {{ comm_status }} </a>
                </div>
            </div>
        </div>
    </section>

<!---
Secciones 
-->
    <!-- Intro Section -->
    <section id="laser" class="about-section injected-text">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Laser Module</h1>
                    <p>Turn on/off remote laser module in Arduino Leonardo</p>
                    <a class="btn btn-default page-scroll" href="/laser/">Estado = {{ laser }}</a>
                </div>
            </div>
        </div>
    </section>

<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/dist/js/bootstrap.min.js"></script>

   </body>
   
</html>